/* CertificatesSection.module.css */
.certificatesSection {
  text-align: center;
  margin: 50px 130px;
  background-color: rgb(129, 6, 131);
  padding: 55px;
  border-radius:2%;
  
}

.certificatesSection h2 {
  text-align: center;
  color: white;
  margin-bottom: 5%;
  font-size: 35px;
}

.certificatesContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 110px;
  flex-wrap: wrap;


}

.certificateCard {
  width: 400px;
  height: 250px;
  overflow: hidden;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 10px 10px 5px black;
}

.certificateImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.2s ease-in-out;
}

.certificateImage:hover {
  transform: scale(1.1);
}

@media all and (max-width:468px){
  /* CertificatesSection.module.css */
.certificatesSection {
  text-align: center;
  margin: 50px 20px; /* Reducir el margen lateral para pantallas pequeñas */
  background-color: rgb(129, 6, 131);
  padding: 25px; /* Reducir el espacio interno */
  border-radius: 2%;
}

.certificatesSection h2 {
  text-align: center;
  color: white;
  margin-bottom: 5%;
  font-size: 35px;
}

.certificatesContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px; /* Reducir el espacio entre las cards */
  flex-wrap: wrap;
}

.certificateCard {
  width: 100%; /* Ocupar todo el ancho disponible */
  max-width: 400px; /* Establecer un ancho máximo para las cards */
  height: 250px;
  overflow: hidden;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 10px 10px 5px black;
  margin-bottom: 20px; /* Agregar espacio entre las cards */
}

.certificateImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.2s ease-in-out;
}

.certificateImage:hover {
  transform: scale(1.1);
}

}